#ignore vs
MarketDataMachine.opensdf
MarketDataMachine.sdf
MarketDataMachine.v12.suo
MarketDataMachine.sln

#ignore Win32
Win32/

#ignore MainProgram
MarketDataMachine/Debug
MarketDataMachine/GeneratedFiles


